
body {
  background: #333;
  color: #fff;
}
a {
  color: #fff;
}
.loadFinished ol {
  display: none;
}
.loadFinished ol:target {
  display: flex;
}
li {
  padding: 0;
  margin: 0;
  border-bottom: 1px dashed #666;
  display: flex;
  align-items: center;
}
li::before {
  content: counter(count, decimal) ") ";
  counter-increment: count 1;
  display: inline-block;
  padding: 5px 10px;
}
ol {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  vertical-align: middle;
  counter-reset: count 0;
  flex-direction: column;
}
ol ol {
  display: flex!important;
  list-style: none;
  white-space: nowrap;
  flex-direction: row;
  margin: 0;
}
li li {
  display: inline-block;
  border-left: 1px dashed #666;
  border-bottom: none;
  width: 350px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}
li li:hover {
  background-color: #555;
}
li li::before {
  content: attr(data-time);
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 2em;
  opacity: .2;
}
li li[data-done="true"]::before {
  opacity: 1;
  color: #fff;
}
li li[data-done="true"] {
  color: rgba(255, 255, 255, .2);
  background-color: rgba(0, 0, 0, .2);
}
li li[data-done="true"] > * {
  opacity: .4;
}
.consumption {
  vertical-align: middle;
  display: inline-block;
  width: 80px;
  border-right: 1px dashed #666;
  margin-right: 10px;
}
.consumption::before,
.icon::before {
  vertical-align: middle;
  content: "";
  display: inline-block;
  background-image: url(item.png);
  width: 30px;
  height: 30px;
  background-size: 570px 540px;
}
.stone::before {
  background-position: -30px -180px;
}
.iron::before {
  background-position: -90px -390px;
}
.iron-ore::before {
  background-position: -120px -390px;
}
.copper::before {
  background-position: -480px -330px;
}
.copper-ore::before {
  background-position: -480px -360px;
}
.steel::before {
  background-position: -150px -180px;
}
.plastic::before {
  background-position: -330px -60px;
}
.brick::before {
  background-position: -120px -180px;
}
.miner::before {
  background-position: -120px -450px;
}
.stone-furnace::before {
  background-position: -90px -180px;
}
.stone-furnace::before {
  background-position: -90px -180px;
}
.steel-furnace::before {
  background-position: -180px -180px;
}
.pump::before {
  background-position: -300px -270px;
}
.assembly-1::before {
  background-position: -390px -510px;
}
.assembly-2::before {
  background-position: -360px -510px;
}
.assembly-3::before {
  background-position: -330px -510px;
}
.centrifuge::before {
  background-position: -270px -480px;
}
.gear::before {
  background-position: -150px -390px;
}
.boiler::before {
  background-position: -510px -270px;
}
.steam-engine::before {
  background-position: -210px -60px;
}
.cable::before {
  background-position: -480px -390px;
}
.asteroid-collector::before {
  background-position: -300px -510px;
}
.crusher::before {
  background-position: -480px -210px;
}
.solar-panel::before {
  background-position: -240px -150px;
}
.electric-furnace::before {
  background-position: -150px -450px;
}
.constant-combinator::before {
  background-position: 0px -480px;
}
.arithmetic-combinator::before {
  background-position: -540px -90px;
}
.space-platform-starter::before {
  background-position: -240px -30px;
}
.inserter::before {
  background-position: -240px -390px;
}
.fast-inserter::before {
  background-position: -450px -60px;
}
.long-inserter::before {
  background-position: -180px -360px;
}
.yellow-belt::before {
  background-position: -120px -120px;
}
.yellow-underground::before {
  background-position: -90px -90px;
}
.yellow-splitter::before {
  background-position: -210px -150px;
}
.red-belt::before {
  background-position: -420px -420px;
}
.red-underground::before {
  background-position: -390px -420px;
}
.red-splitter::before {
  background-position: -450px 0px;
}
.ammo::before {
  background-position: -360px -420px;
}
.red-ammo::before {
  background-position: -330px -210px;
}
.wall::before {
  background-position: -60px -180px;
}
.grenade::before {
  background-position: -420px -270px;
}
.pipe::before {
  background-position: -330px -120px;
}
.underground-pipe::before {
  background-position: -330px -150px;
}
.engine::before {
  background-position: -450px -360px;
}
.coal::before {
  background-position: -120px -480px;
}
.uranium-ore::before {
  background-position: -90px 0px;
}
.sulfur::before {
  background-position: -180px -60px;
}
.battery::before {
  background-position: -90px -510px;
}
.electric-engine::before {
  background-position: -180px -450px;
}
.construction-bot::before {
  background-position: -480px -450px;
}
.logistics-bot::before {
  background-position: -240px -360px;
}
.roboport::before {
  background-position: -270px -210px;
}
.robot-frame::before {
  background-position: -120px -420px;
}
.concrete::before {
  background-position: -30px -480px;
}
.space-platform::before {
  background-position: -240px -90px;
}
.steel-chest::before {
  background-position: -210px 0px;
}
.provider-chest::before {
  background-position: -60px -330px;
}
.storage-chest::before {
  background-position: 0px -180px;
}
.productivity-module::before {
  background-position: -120px -300px;
}
.speed-module::before {
  background-position: -150px -210px;
}
.efficiency-module::before {
  background-position: -240px -450px;
}
.explosive::before {
  background-position: -450px -210px;
}
.mine::before {
  background-position: -390px -270px;
}
.rocket-fuel::before {
  background-position: -270px -180px;
}
.solid-fuel::before {
  background-position: -240px -120px;
}
.science-1::before {
  background-position: -240px -510px;
}
.science-2::before {
  background-position: -210px -360px;
}
.science-3::before {
  background-position: -360px -330px;
}
.science-4::before {
  background-position: -210px -480px;
}
.lab::before {
  background-position: -390px -300px;
}
.green-circuit::before {
  background-position: -30px -450px;
}
.red-circuit::before {
  background-position: -540px -180px;
}
.blue-circuit::before {
  background-position: -240px -300px;
}
.low-density-structure::before {
  background-position: -150px -360px;
}
.rocket-silo::before {
  background-position: -270px -90px;
}
.refinery::before {
  background-position: -360px -120px;
}
.chemical-plant::before {
  background-position: -240px -480px;
}
.repair-pack::before {
  background-position: 0px -270px;
}
.accumulator::before {
  background-position: -540px -240px;
}
.gun-turret::before {
  background-position: -420px -240px;
}
.thruster::before {
  background-position: -150px -60px;
}
.crude-oil::before {
  background-size: 180px 180px;
  background-image: url(fluid.png);
  background-position: 0px -150px;
}
.sulfuric-acid::before {
  background-size: 180px 180px;
  background-image: url(fluid.png);
  background-position: -30px -30px;
}
.lubricant::before {
  background-size: 180px 180px;
  background-image: url(fluid.png);
  background-position: -120px -60px;
}
.basic-oil::before {
  width: 24px;
  height: 24px;
  background-size: 648px 624px;
  background-image: url(recipe.png);
  background-position: -600px -192px;
}
.heavy-oil-cracking::before {
  width: 24px;
  height: 24px;
  background-size: 648px 624px;
  background-image: url(recipe.png);
  background-position: -120px -456px;
}
.light-oil-cracking::before {
  width: 24px;
  height: 24px;
  background-size: 648px 624px;
  background-image: url(recipe.png);
  background-position: -432px -360px;
}
.build {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  max-height: 90vh;
  max-width: 90vw;
  cursor: grab;
  border: 2px solid #ccc;
  position: relative;
}
.build:not(.loaded)::before {
  content: "click to load image";
  font-size: 14px;
}
.loadFinished .group {
  transform-origin: center;
  position: absolute;
  left: 0;
  top: 0;
}
.grabbing {
  cursor: grabbing;
}
.build img {
  display: inline-block;
}